/* Class selector */
html, body {
  height: 100%;
  margin: 0;
}

/* full page background: red to orange gradient */
body {
  background: linear-gradient(90deg, red 0%, orange 100%);
}

.main {
  background: transparent;
  border: none;
  color: rgb(165, 56, 56);
  padding: 12px 24px;
  
  font-size: 7vh;
  border-radius: 6px;
  cursor: pointer;
}

